.head-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}
.head-title .left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}
.head-title .left .breadcrumb {
    display: flex;
    align-items: center;
    grid-gap: 16px;
}
.head-title .left .breadcrumb li {
    color: var(--dark);
}
.head-title .left .breadcrumb li a {
    color: var(--dark-grey);
    pointer-events: none;
}
.head-title .left .breadcrumb li .active {
    color: var(--blue);
    pointer-events: unset;
}
.head-title .left .breadcrumb div {
    color: var(--dark);
}
.head-title .left .breadcrumb div a {
    color: var(--dark-grey);
    pointer-events: none;
}
.head-title .left .breadcrumb div .active {
    color: var(--blue);
    pointer-events: unset;
}
.head-title .btn-download {
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--blue);
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    font-weight: 500;
}